<% layout('layout') -%>
<% block('title','Ziggeo Application Home page') %>

            <div id="content" class="container">
                <h1 class="page-header">Ziggeo Application Home page</h1>
                <p class="text-success">Below is list of available pages</p>
                <ul class="list-unstyled">
                    <li><a href="/" class="btn btn-md btn-link">Home</a></li>
                    <li><a href="/videos" class="btn btn-md btn-link">Videos</a></li>
                    <li><a href="/record" class="btn btn-md btn-link">Record Video</a></li>
                    <li><a href="/upload" class="btn btn-md btn-link">Upload Video</a></li>
                    <li><a href="/approve" class="btn btn-md btn-link">Approve Video</a></li>
                </ul>
            </div>