<% layout('layout') -%>
<% block('title', page_title) %>
            <% if(message != '') { %>
                <h1 class="page-header text-danger text-center"><%= message %></h1>
            <% }else{ %> 
                <h1 class="page-header">Operation was successfully completed</h1>
            <% } %>